<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="container mt-3">
        <!-- 댓글 쓰기 -->
        <h1>Comment</h1>
        <div class="card">
            <form action="/comment" method="post">
                <div class="card-body">
                    <textarea name="content" class="form-control" rows="1"></textarea>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">등록</button>
                </div>
            </form>
        </div>

        <br />
        <hr />


        <!-- 댓글 보기 -->
        <h1>Comment-List</h1>
        <div class="card">
            <div class="card-header"><b>댓글 리스트</b></div>
            <ul id="reply-box" class="list-group">
                {{#comments}}
                <input id="id" type="hidden" value="{{id}}">
                <li class="list-group-item d-flex justify-content-between">
                    <div id="content">{{content}}</div>
                    <div class="d-flex">
                        <div class="font-italic"> 작성자 : 아무개 &nbsp;</div>

                        <!-- 댓글 수정 버튼 -->
                        <button id="btn-update" class="badge bg-primary">수정</button>

                        <!-- 댓글 삭제 버튼 -->
                        <button class="badge bg-primary" onclick="deleteComment('{{id}}')">삭제</button>

                    </div>
                </li>
                {{/comments}}
            </ul>
        </div>

    </div>

    <script>
        // 댓글 삭제하기
        async function deleteComment(commentId) {
            let response = await fetch(`/api/comment/${commentId}`, {
                method: "DELETE"
            });
            location.reload(); // ajax + ssr
            alert("삭제 성공");
        }
    </script>

    <script>
        // 댓글 수정 이벤트 리스너
        $("#btn-update").click(() => {
            update();
        });

        // 댓글 수정 함수
        async function update() {
            let id = $("#id").val();
            let updateDto = {
                content: $("#content").val()
            }

            let response = await fetch(`/api/comment/${id}`, {
                method: "PUT",
                body: JSON.stringify(updateDto),
                headers: {
                    "Content-Type": "application/json; charset=utf-8"
                }
            });

            alert("업데이트 성공");
            location.href = `/`;
        }


    </script>

</body>

</html>